﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The web site is under construction</title>
<style type="text/css">
	BODY { color: #444444; background-color: #E5F2FF; font-family: verdana; margin: 0px; }
	#PageOutline { text-align: center; margin-top: 300px; }
	A { color: #0153A4; }
	H1 { font-size: 16pt; margin-bottom: 4px; }
	H2 { font-size: 14pt; margin-bottom: 4px; font-weight: normal; }
</style>
</head>
<body>
<div id="PageOutline">
        <h2>The web site is hosted by <a href="http://www.jakartawebhosting.com">Jakartawebhosting.com</a>.</h2>
        If you have any problems or issue with your hosting, please lodge a support ticket at https://services.jakartawebhosting.com
       <br> You can login using your billing control panel username(your email address) and password.
</div>
</body>
</html>